$color_1: #8597a3;
$color_2: #6658d3;
$font-family_1: sans-serif;
$font-family_2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$background-color_1: rgb(201, 211, 211);
$background-color_2: white;
$background-color_3: transparent;
$border-bottom-color_1: #6658d3;

* {
	font-family: $font-family_1;
	box-sizing: border-box;
}
.product__page__main {
	display: flex;
	gap: 10px;
}
.product__filter__section {
	flex: 0 0 200px;
	justify-self: center;
	background-color: $background-color_1;
}
.filter__category {
	margin-left: 20px;
	font-family: $font-family_1;
	font-size: 12px;
	border-bottom: 1px dotted;
	cursor: pointer;
	&:first-child {
		margin-top: 10px;
	}
}
.products__row {
	flex-wrap: nowrap;
}
.category__card {
	display: flex;
	flex-direction: row;
	padding: 40px 40px;
	gap: 20px;
	justify-content: space-evenly;
}
.category__body {
	gap: 20px;
}
.category__description {
	font-family: $font-family_1;
	font-size: 14px;
}
.App {
	background-color: $background-color_2;
}
.Auth-form-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	gap: 40px;
}
.loginbtn {
	margin-bottom: 20px;
}
.login__baner__text {
	font-size: 12px;
}
.Auth-form-title {
	font-weight: bold;
	font-family: $font-family_2;
}
.form-control {
	border: none !important;
}
.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	+ {
		.input {
			margin-top: 1.5rem;
		}
	}
}
.input-label {
	color: $color_1;
	position: absolute;
	top: 1.5rem;
	transition: 0.25s ease;
}
.input-field {
	border: 0;
	z-index: 1;
	background-color: $background-color_3;
	border-bottom: 2px solid #eee;
	font: inherit;
	font-size: 1.125rem;
	padding: 0.25rem 0;
	&:focus {
		outline: 0;
		border-bottom-color: $border-bottom-color_1;
		+ {
			.input-label {
				color: $color_2;
				transform: translateY(-1.5rem);
			}
		}
	}
	&:valid {
		outline: 0;
		border-bottom-color: $border-bottom-color_1;
		+ {
			.input-label {
				color: $color_2;
				transform: translateY(-1.5rem);
			}
		}
	}
}
.action-button {
	margin: 20px 0;
	width: 300px;
}
